span {
    font-size: 15px;
}
.disk {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
#image1 {
    float: left;
    margin: 15px;
}
#image2 {
    float: right;
    margin: 15px;
}
canvas {
    border: 5px solid black;
    border-radius: 20px; 
    margin-top: 150px;
}
#Heading {
    background-color:palegoldenrod;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
}